*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 55, 78);
    width: auto;
    height: 50px;     
}
/* Home Section */
 body {
	background-color: #000814;
	margin: 0;
    padding: 0;
	width: auto;
	height: 3885px;
    font-family: 'Rubik', sans-serif;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 140px 200px;
    justify-content: center;
    align-items: center;

}
