*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 55, 78);
    width: auto;
    height: 50px;     
}
